<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="/static/css/reglog.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        {{ if .ErrorMessage }}
        <p style="color: red;">{{ .ErrorMessage }}</p>
        {{ end }}
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email" class="label">Email:</label>
                <input type="email" id="email" name="email" class="input" required>
            </div>
            <div class="form-group">
                <label for="password" class="label">Password:</label>
                <div class="password-input">
                    <input type="password" id="password" name="password" class="input" required>
                    <button type="button" id="toggle-password" onclick="togglePasswordVisibility()">🙈</button>
                </div>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account yet? <a href="/register">Register</a></p> <!-- Nouvelle ligne pour le lien de création de compte -->
    </div>
    <script src="/static/js/register.js"></script>
</body>

</html>
