body{
    background-color: #EAE7DC;
}

.Hermès-logo{
	float: left;
}

#menu {
	height: 61px;
	padding-left: 18px;
	border-bottom: 3px solid #8E8D8A;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: right;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 55px;
	padding: 0 14px;
	text-decoration: none;
	color: #8E8D8A;
	font-size: 17px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #8E8D8A;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 61px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 55px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFDF8;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 11px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #8E8D8A;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFDF8}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

.layout {
    width: 100%;
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    flex-grow: 5;
    justify-content: center;
    align-items: center;
}

.chatBtn {
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: none;
	background-color: #E85A4F;
	background-image: linear-gradient(147deg, #E85A4F, #E98074,#E85A4F);
	cursor: pointer;
	padding-top: 3px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
	position: relative;
	background-size: 300%;
	background-position: left;
	transition-duration: 1s;
	position: fixed;
	margin-left: 95%;
	margin-top: 35%;
}

.tooltip {
	position: absolute;
	top: -40px;
	opacity: 0;
	background-color: #E85A4F;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: .5s;
	pointer-events: none;
	letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
	opacity: 1;
	transition-duration: .5s;
}

.chatBtn:hover {
	background-position: right;
	transition-duration: 1s;
}

.icon-exception{
	display: flex;
	margin-left: 13.5%;
	margin-bottom: 20%;
}

.icon-delayed{
	margin-bottom: 25%;

}

.icon-early{
	display: flex;
	margin-bottom: 20%;
	margin-left: -20%;
}

.icon-ontime{
	display: flex;
	margin-bottom: 20%;

}

.icon-delivered{
	display: flex;
	margin-left: 11%;
	margin-bottom: 20%;
}

.grid-container{
	margin-top: 10%;
}

section h2{
	text-align: center;
	margin-top: 5%;
}

footer {
	margin-top: 20%;
	text-align: center;
	border: 5px black;
	box-shadow: 0px 0px 20px black;
	background-color: #8E8D8A;
	color: azure;
	width: 101%;
	margin-left: -1%;
	margin-bottom: -1%;
	padding: 0.5%;
	height: 214px;
}

footer h4 {
	margin-left: 2%;
	text-align: center;
}

footer p {
	margin-left: 3%;
	padding-top: 2%;
	text-align: center;
}

ul {
	list-style: none;
}

.listIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
}

.listIcon .icon-content {
	margin: 0 10px;
	position: relative;
}

.listIcon .icon-content .tooltip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	font-size: 14px;
	transition: all 0.3s ease;
}

.listIcon .icon-content:hover .tooltip {
	opacity: 1;
	visibility: visible;
	top: -50px;
}

.listIcon .icon-content .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #4d4d4d;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.listIcon .icon-content .link:hover {
	box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.listIcon .icon-content .link svg {
	width: 80%;
	height: 70%;
}

.listIcon .icon-content .link[data-social="github"]:hover {
	color: black;
}

.listIcon .icon-content .link[data-social="gitea"] {
	padding-right: 5%;
}

.listIcon .icon-content .link[data-social="gitea"]:hover {
	color: lightgreen
}

.listIcon .icon-content .link[data-social="youtube"]:hover {
	color: red
}